<!DOCTYPE html>
<html>

<head>
    <title>Rabia Jamshaid</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/font-awesome/css/font-awesome.css">


</head>

<body>
    <div id="wrapper">
        <header>
            <br/>
            <h1>Rabia Jamshaid</h1>
            <br/>
            <p>Lecturer at National University of Sciences and Technology<br/> MS(Electrical Engineering) . BS(Electrical Engineering)</p>
        </header>
        <div id="main">
            <section id="intro" class="main">
                <div class="padd">
                    <div class="row">
                        <div class="col-md-8">
                            <h2>About Me</h2>
                            <p>
                                Ms. Rabia Jamshaid is a Lecturer of Electrical Engineering, and a faculty member of Department of Mechatronics Engineering, National University of Science and Technology Islamabad Pakistan (NUST). Her primary research interest is in the field of bioMEMS
                                and microfluidics to develop smart point-of-care diagnostic tool. In this field, her current research surrounds the development of polymerase chain reaction (PCR) device for DNA amplification. This work involves the use
                                of micro fabrication methods, microfluidics, and their respective applications in genetic analysis forensic and clinical sciences. She is currently in pursuit of research position in the said field and would like to enhance
                                her knowledge for design, fabrication and characterization to practice ideas for the benefit of human society.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img src="public/image/profile.jpeg" class=" img-circle img-responsive" style="border-color: #dddddd;" />
                        </div>
                    </div>
                </div>
            </section>
            <hr/>
            <section id="work" class="main">
                <div class="padd">
                    <div class="text-center">
                        <h2>Work</h2>
                    </div>
                    <br/>
                    <div class="row features">
                        <div class="col-md-4 text-center">
                            <span class="image major fa fa-copy fa-5x" style="color:#efa8b0"></span>
                            <h3>Curriculum Vitae</h3>
                            <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
                            <br/>
                            <a href="public/files/Curriculum-Vitae-Rabia-Jamshaid.pdf" download class="btn btn-default">Download</a>
                        </div>
                        <div class="col-md-4 text-center">
                            <span class="image major fa fa-copy fa-5x" style="color:#a89cc8"></span>
                            <h3>AJK-2015-140655</h3>
                            <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
                            <br/>
                            <a href="public/files/AJK-2015-140655.pdf" download class="btn btn-default">Download</a>
                        </div>
                        <div class="col-md-4 text-center">
                            <span class="image major fa fa-copy fa-5x" style="color:#8cc9f0;"></span>
                            <h3>HONET 2015 Paper</h3>
                            <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
                            <br/>
                            <a href="public/files/HONET-2015-Paper.pdf" download class="btn btn-default">Download</a>

                        </div>
                    </div>
                </div>
            </section>
            <hr/>
            <section id="social" class="main">
                <div class="padd">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Social Link</h2>
                            <a href="https://www.linkedin.com/in/rabia-jamshaid-a4836253"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>&nbsp&nbsp
                            <a href="https://www.linkedin.com/in/rabia-jamshaid-a4836253"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>&nbsp&nbsp
                            <a href="https://www.linkedin.com/in/rabia-jamshaid-a4836253"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-md-6">
                            <h2>Contact</h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Address &nbsp&nbsp</td>
                                        <td class="fade">House no 44# D, Shah Ruken Alam Colony,Multan, Pakistan</td>
                                    </tr>
                                    <tr>
                                        <td>Phone </td>
                                        <td class="fade">00923427001977</td>
                                    </tr>
                                    <tr>
                                        <td>Email </td>
                                        <td class="fade">rabia_jamshaid@yahoo.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <br/>
        </div>
    </div>
    <footer>

        <br/>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">&copy; All Rights Reserved By Rabia Jamshaid</p>
            </div>
        </div>
    </footer>
    </div>
</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>